.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:white;
    padding: 16px;
    box-shadow: 0 10px 15px -3px rgb(75 85 99 / 1);
    z-index: 1000;
    max-width: 400px;
    width: 100%;
    height: 50%;
    text-align: center;
    border-radius: 4px;  
  }
  .close {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
    color: darkblue;
  }
  .popup h1 {
    margin-bottom: 20px;
    color: #1877f2;
  }
  .popup input, textarea {
    width: 90%;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 4px;
    border: 0.5px solid lightgray;
    background-color: whitesmoke;
    
  }
  .popup input, textarea:focus {
    outline-color: #1877f2;
    outline-offset: 2px;
    background-color: #e8f0fe;
  
  }
  .popup-button {
    width: 100%;
    background-color: #42b72a;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: 200ms ease-in;
    margin-top: 25px;
  }
  .popup-button:hover {
    background-color: #2c791c;
  }